*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color:hsla(122, 74%, 33%, 0.423);
}

#part1{
    height: 100%;
    width: 26%;
   /* background-color: red;*/

}

#part2{
    height: 100%;
    width: 68%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1558236714-d1a6333fce68?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color:hsla(124, 16%, 18%, 0.164) ;
}

#part3{
    height: 100%;
    width: 7%;
   /* background-color: green;*/
}

#text{
    position: absolute;
    width: 400px;
    /*background-color: red;*/
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
}

#text h1{
    letter-spacing: 8px;
    font-size: 95px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    line-height: 78px;
    color: white;
    text-transform: uppercase;
}

#small-img{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-0 ,-50%);
    background-image: url(https://images.unsplash.com/photo-1558236797-297feec52d44?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    right: -54%;
    top: -6%;
    /*width:100%;*/
   /* background-color: red;*/

}

#vertical-text h1{
    font-size: 80px;
    font-weight: 900;
    color: transparent;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

#nav{
    position: absolute;
    width: 450px;
    display: flex;
    left: 7%;
    top: 5%;
    align-items: center;
    justify-content: space-between;
}

#nav img{
    height: 60px;

}

#nav h5{
    font-size: 20px;
    color:#fff ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}